.chat-box .desc-text {
  color: #515365;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}

.chat-box form {
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.chat-box form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.chat-box form .field:last-child {
  margin-bottom: 15px;
}

form .field input,
form .field button {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .field input:focus {
  border-color: #4070f4;
}

form .field input::placeholder {
  color: silver;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: lightgray;
}

.chat-box form .field button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: #4070f4;
  transition: all 0.3s ease;
}

.chat-box form .field button:active {
  transform: scale(0.97);
}

#click {
  display: none;
}

.react-chatbot-kit-chat-header {
  background-color: #515365 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  justify-content: center;
  align-items: center;
  border: 1px solid white;

  text-wrap: wrap;
  text-align: center;

  padding: 10px !important;
}
.react-chatbot-kit-chat-btn-send {
  background: #4070f4 !important;
}

.react-chatbot-kit-chat-bot-avatar-container {
  background-image: url("https://www.morphcast.com/wp-content/uploads/2023/08/chatgpt-conversation.png") !important;
  background-size: cover;
  background-position: center;
}
.react-chatbot-kit-chat-bot-avatar-letter {
  visibility: hidden;
}

/* New CSS */

.react-chatbot-kit-chat-message-container {
  border: 1px solid #515365;
  background-color: #515365;
  padding: 10px !important;
  border: 1px solid white;
}

.react-chatbot-kit-chat-container {
  width: 80vw !important;
  @media (min-width: 600px) {
    width: 100%;
  }
}
.react-chatbot-kit-chat-bot-message {
  width: auto;
  margin-left: inherit;
}
.react-chatbot-kit-chat-bot-message,
.react-chatbot-kit-user-chat-message {
  text-wrap: wrap;
  width: 100% !important;
  color: rgb(20, 21, 79) !important;
}

.react-chatbot-kit-chat-input-container {
  position: relative !important;
}

.react-chatbot-kit-chat-message-container form .grid {
  grid-template-columns: auto;
}

.react-chatbot-kit-chat-btn-send {
  background-color: orange !important;
  border-radius: 5px !important;
}

.react-chatbot-kit-chat-input-form {
  display: flex;
  gap: 5px;
  padding: 10px;
  background-color: #515365;
  border: 1px solid white;
}

.react-chatbot-kit-chat-input-form input:focus {
  outline: 2px solid #515365;
}

.react-chatbot-kit-chat-input-form input {
  background-color: white !important;
  color: #515365;
  box-shadow: 15px -7px 26px -5px rgba(0, 0, 0, 0.6);
  border-radius: 5px !important;
}

.react-chatbot-kit-chat-input::placeholder {
  color: white !important;
}
